body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.home-page0 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header0 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  padding: 10px 20px;
  z-index: 1000;
}

.logo0 img {
  max-height: 70px; /* Adjust the height to fit your design */
  width: auto;
  object-fit: contain; /* Ensures the logo image scales well without distortion */
}

.nav0 a {
  margin: 0 10px;
  padding: 8px 12px;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav0 a:hover {
  background-color: #333;
  color: white;
}

.btn0 {
  background-color: #ff6347;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.hero0 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 20px;
  text-align: left;
  margin-top: 60px; /* Adjust margin to account for the fixed header */
}

.hero0-text {
  flex: 1;
  margin-right: 30px; /* Increase margin for better spacing */
}

.hero0 h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero0 p {
  font-size: 1.5em; /* Slightly larger font for better readability */
}

.hero0-image {
  flex: 1;
  max-width: 70%; /* Increase width for larger image */
  height: auto; /* Maintain aspect ratio */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* More pronounced shadow */
  border-radius: 10px; /* Slightly larger border radius */
}

.services0, .packages0 {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.services-section h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.service-card0, .package-card0 {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  flex: 1;
  max-width: 300px;
}

.card-image0 {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.more-info0 {
  display: inline-block;
  margin-top: 10px;
  color: #ff6347;
  text-decoration: none;
}

.footer0 {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}

.footer-content0 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.footer0 p {
  margin: 0;
}

.footer-contact-button0 {
  background-color: #ff6347;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

.footer0 a {
  color: white;
  text-decoration: none;
}
